doctrine:
    dbal:
        charset: utf8
        url: '%env(resolve:DATABASE_URL)%'
        override_url: true
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@test:
    doctrine:
        dbal:
            driver: 'sqlite'
            url: '%env(resolve:DATABASE_URL)%'      
