<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Zippy{% endblock %}</title>
    {% block head_extra %}
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div style="max-width: 900px; margin: 0 auto; text-align: center">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}
</body>
</html>
