Dockerfile
.dockerignore
/var
/data/*
/vendor
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/bin/.phpunit
.phpunit.result.cache
/phpunit.xml
/.php_cs
/.php_cs.cache
