name: Build images, test, and then push

on: push

jobs:
  build_publish:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: build
        run: |
          docker-compose build
      - name: Test API
        run: |
          docker-compose run --rm -e APP_ENV=dev api /bin/ash -c 'composer install && composer test'

      - name: Test HELM
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh
          helm template infra/helm/zippy -f infra/helm/zippy/myvalues.yaml
          helm lint infra/helm/zippy

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push images
        if: github.ref == 'refs/heads/main'
        run: |
          docker-compose push

      - name: Publish Helm charts
        if: github.ref == 'refs/heads/main'
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_dir: infra/helm
          linting: off
